*,
 ::after,
 ::before {
    box-sizing: border-box;
}

html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

body {
    font-size: 13px;
    background-color: #191919;
    -webkit-font-smoothing: antialiased;
}

body,
code,
html,
kbd,
pre,
samp {
    font-family: "Press Start 2P";
    color: rgba(41, 41, 41, 1);
}


/* START header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 116px;
    border-bottom: 4px solid #dcc528;
    background-color: #111;
    color: #F6E6C9;
}

header>.container {
    display: flex;
    align-items: baseline;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
}

header h1 span {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
}

.pallete-logo {
    width: 32px;
    height: 28px;
    margin-left: -3px;
    vertical-align: bottom;
}

.nav-brand>a {
    color: #212529;
    background-color: transparent;
    text-decoration: none;
}

a,
button,
input,
.nav-brand,
.sortBtn {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.nav-brand .brand-logo {
    margin-right: 1rem;
}

.github-link {
    position: absolute;
    z-index: 20;
    right: 5px;
    top: 70px;
    display: flex;
    height: 100px;
}

.github-link:hover {
    text-decoration: none;
}

.github-link p {
    align-self: flex-start;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    color: #333;
}


/* END header */


/* START sidebar */

.hamburger {
    position: absolute;
    width: 30px;
    height: 24px;
    top: 10px;
    right: 15px;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

#menu {
    height: 100%;
    position: fixed;
    background-color: #dcc528;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    top: 115px;
    left: 60px;
    z-index: 10;
    color: white;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0px;
}

.menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.links {
    margin-top: 40px;
    font-size: 10px;
    list-style: none;
    padding-left: 0;
}

.links li {
    color: white;
    transition: 0.1s;
    padding: 15px 30px;
}

.links li:first-child:hover,
.panel a:hover {
    background-color: #e3d154;
    ;
}

.panel a {
    display: block;
    font-size: 9px;
    padding: 10px 0 9px 53px;
}


/* END sidebar */


/* START main content */

#pallete>.container {
    max-width: 1000px;
    margin: 0 auto;
    transform: translateY(150px);
}

.description {
    color: #F6E6C9;
    margin-top: 10px;
    font-size: 10px;
}

.left {
    width: 55%;
    float: left;
    margin-right: 50px;
    color: #F6E6C9;
}

.left p {
    margin-top: 20px;
    font-size: 10px;
}

.right {
    width: 40%;
    float: right;
    transform: translateX(40px);
}


/* END main content */

#binaryTreeDescription p {
    line-height: 20px;
}

#addNode {
    width: 100px;
}

#binaryTree .right {
    position: relative;
}

#binaryTreeCtx canvas {
    margin-top: 40px;
}

#binaryTreeCtx .balanceBtn {
    position: absolute;
    bottom: 3px;
    left: 0;
}

#binaryTreeCtx .invertBtn {
    position: absolute;
    bottom: 3px;
    right: 0;
}

#binaryTreeCtx .nes-btn:focus {
    box-shadow: none;
}

#cardioid canvas {
    margin-top: 40px;
}

#cardioidDescription label {
    margin-left: 5px;
    font-size: 10px;
}

.sections {
    display: flex;
}

.sections>div {
    flex: 1;
}

.sectionWrapper:not(:nth-child(3)) {
    margin-right: 50px;
}

#fractalTree,
#digitRain {
    display: inline-block;
}

#fractalTree,
#quickSort {
    background-color: #191919;
}

.treeSlider,
.sortSlider,
.sortBtn {
    display: inline-block;
    color: #fff;
    font-size: 10px;
}

.treeSlider {
    margin-top: 7px;
}

.sortBtn {
    margin-top: 7px;
    margin-left: 40px;
    padding: 4px 0px;
}

.sortSlider {
    margin-top: 7px;
    float: left;
}

#linkedListCtx canvas {
    margin-top: 40px;
}

#linkedListInsert,
#linkedListRemove {
    width: 100px;
}

#linkedList .right {
    position: relative;
}

#linkedListCtx .reverseBtn {
    position: absolute;
    bottom: 3px;
    left: 0;
}

#mazeCtx {
    margin-top: 40px;
    background-color: black;
}

#maze .nes-btn {
    font-size: 9px;
    padding: 3px 40px;
}

#dimension {
    width: 50px;
}

#spiralArray canvas {
    margin-top: 40px;
    font-weight: bold;
}

#sudokuCtx canvas {
    margin-top: 40px;
}