.sections {
    display: flex;
}

.sections>div {
    flex: 1;
}

.sectionWrapper:not(:nth-child(3)) {
    margin-right: 50px;
}

#fractalTree,
#digitRain {
    display: inline-block;
}

#fractalTree,
#quickSort {
    background-color: #191919;
}

.treeSlider,
.sortSlider,
.sortBtn {
    display: inline-block;
    color: #fff;
    font-size: 10px;
}

.treeSlider {
    margin-top: 7px;
}

.sortBtn {
    margin-top: 7px;
    margin-left: 40px;
    padding: 4px 0px;
}

.sortSlider {
    margin-top: 7px;
    float: left;
}